body {
  background-color: #fff6f9;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #e25876;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  display: flex;
}

.form-container {
  padding: 30px 20px 15px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.instructions {
  padding: 16px;
  border: 1px solid #e25876;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #e25876;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  outline: none;
  transition: border 0.3s;
}
.instructions:focus {
  border: 1px solid #e25876;
  box-shadow: 0 0 4px #e25876;
}

.submit-button {
  margin-left: 10px;
  background: #e25876;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #e25876;
  box-shadow: 0px 4px 30px 0px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}

.poem strong {
  color: #e25876;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
